# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
print(db.establishments.find_one())

{'_id': ObjectId('6603bbb1bb8ad13d4ebcf2c4'), 'BusinessName': 'Penang Flavours', 'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1, 'AddressLine1': 'Penang Flavours', 'AddressLine2': '146A Plumstead Rd', 'AddressLine3': 'London', 'AddressLine4': '', 'PostCode': 'SE18 7DY', 'Phone': '', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': '', 'Structural': '', 'ConfidenceInManagement': ''}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.08384, 'latitude': 51.490142}, 'RightToReply': '', 'Distance': 4623.972328074718, 'NewRatingPending': True, 'RatingValue': None}

In [12]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
print('The number of establishments with a Hygiene score of 20 is: ', \
     establishments.count_documents(query), '\n')

# Display the first document in the results using pprint
pprint(results[0])

The number of establishments with a Hygiene score of 20 is:  0

IndexError: no such item for Cursor instance

In [14]:
# Convert the result to a Pandas DataFrame
hyg_20_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(hyg_20_df))

# Display the first 10 rows of the DataFrame
hyg_20_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [15]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_london = {"LocalAuthorityName":{"$regex":"London"},
               "RatingValue":{"$gte":4}}

results = list(establishments.find(query_london))

# Use count_documents to display the number of documents in the result
london_count = establishments.count_documents(query_london)

# Display the first document in the results using pprint
pprint(results[0])

IndexError: list index out of range

In [16]:
# Convert the result to a Pandas DataFrame
london_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(london_df))

# Display the first 10 rows of the DataFrame
london_df.head(10)

Rows in DataFrame:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [17]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

top_query = {'RatingValue' : 5, 
         'geocode.latitude' : {'$gte' : latitude - degree_search, '$lte' : latitude + degree_search}, 
         'geocode.longitude': {'$gte' : longitude - degree_search, '$lte' : longitude + degree_search}
        }

top_sort =  [("scores.Hygiene", 1)]

top_limit = 5

top_results = list(establishments.find(top_query).sort(top_sort).limit(top_limit))


# Print the results
pprint(top_results)

[]

In [19]:
# Convert result to Pandas DataFrame
top_results_df = pd.json_normalize(top_results)
top_results_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [20]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {"$match": {"scores.Hygiene": 0}}

# 2. Groups the matches by Local Authority
group_query = {"$group": {"_id":{"LocalAuthorityName":"$LocalAuthorityName"},"count":{"$sum":1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {"$sort": {"count":-1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print('Number of documents in the result: ', len(results))

# Print the first 10 results
pprint(results[0:10])

Number of documents in the result:  0
[]

In [21]:
# Convert the result to a Pandas DataFrame
poor_hygiene_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print("The number of rows in the DataFrame is: ", len(poor_hygiene_df))

# Display the first 10 rows of the DataFrame
poor_hygiene_df.head(10)

The number of rows in the DataFrame is:  0

Empty DataFrame
Columns: []
Index: []